.theme-dark {

}

.theme-light {

}

.workspace {
    > .workspace-ribbon {
        display: none;
    }

    > .mod-left-split {
        min-width: 375px;
        max-width: 375px;
    }

    > .mod-right-split {
        min-width: 375px;
        max-width: 375px;
    }
}

/* Useful for bypassing "Show inline title" setting sync when using a custom sync service. */
.inline-title {
    display: none !important;
}

/* Useful for bypassing "Properties in document" setting sync when using a custom sync service. */
.metadata-container {
    display: none !important;
}